RewriteEngine On

# Don't touch real files and directories (such as ./js/ and ./css/)
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . - [L]

# Dynamic action paths
# TODO Redirect all requests that include index.php so pretty urls are shown in the browser
#RewriteRule ^index.php\?path\=(.*)/?$ $1 [R=301,QSA,L]
# TODO Rewrite all Other Requests through index.php
#RewriteRule ^(.*)/?$ index.php?path=$1 [L,QSA]
